{% extends "en_base.twig" %}

{% block title %}اخبار{% endblock %}
{% block meta_tag %}{{ elements.newsmeta.meta_tag_fa }} {% endblock %}
{% block meta_description %}{{ elements.newsmeta.meta_description_fa }} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="/css/fa_news.css">
    <link rel="stylesheet" href="/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/css/fa_style.css?v=10">


{% endblock %}

{% block body %}

    {{ include('_templates/fa_header.twig') }}

    <section class="news">
        <div class="cards">

            {% if newses|length > 0 %}
                {% for news in newses %}

                    <div class="card">
                        <img src="{{ url('uploads') }}/{{ news.image }}" alt="{{ news.alt_fa }}">
                        <div class="card-title">
                            <a href="#" class="toggle-info btn">
                                <span class="left"></span>
                                <span class="right"></span>
                            </a>
                            <h2>
                                {{ news.fa_title }}
                                <small>{{ news.created_at }}</small>
                            </h2>
                        </div>
                        <div class="card-flap flap1">
                            <div class="card-description">
                                {{ news.fa_description|raw }}
                            </div>
                            <div class="card-flap flap2">
                                <div class="card-actions">
                                    <a type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#{{ news.id }}">بیشتر بخوانید</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="{{ news.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title pull-right" id="myModalLabel">{{ news.fa_title }}</h4>
                                    <h4 class="modal-title pull-left" id="myModalLabel">{{ news.created_at }}</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="description">
                                        {{ news.fa_description|raw }}
                                    </div>

                                    <div class="news-image">
                                        <img src="{{ url('uploads') }}/{{ news.image }}" alt="{{ news.alt_fa }}">

                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                    {#<button type="button" class="btn btn-primary">Save changes</button>#}
                                </div>
                            </div>
                        </div>
                    </div>


                {% endfor %}
            {% else %}
                !oops not found
            {% endif %}

        </div>
    </section>

    <!-- Button trigger modal -->





    {{ include('_templates/fa_footer.twig') }}


{% endblock %}


{% block script %}

    <script>

    </script>

{% endblock %}
